.card-centent {
    text-align: center;
}

.card-centent a {
    border-radius: 5px;
    max-width: 180px;
}

.card-centent>h2 {
    margin-bottom: 15px;
}

.card-centent>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-centent>main>a {
    text-align: center;
    width: 100%;
    aspect-ratio: 1;
    color: var(--font-color);
    text-decoration: none;
    background-color: var(--border-section);
    margin: 0;
}

.card-centent>main>a>* {
    margin: 15px;
}

.card-centent>main>a .img {
    
    background-color: rgb(255, 255, 255) ;
    aspect-ratio: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat ;
    border-radius: 5px;
    padding: 50px;
    max-width: 144px;
    width: 100%;

    border: 15px solid white;
}

.card-centent h2 {
    margin-top: 50px;
}
.card-centent>h2:first-child {
    margin-top: 15px;
}

.card-centent>main>a {
    width: 300px;
    transition: box-shadow 0.1s, scale 0.25s;
    background-size: 100%;
    border: 3px dashed rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
  }
  
  .card-centent>main>a:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    background-color: rgb(32, 32, 32);
    border: 3px dashed white;
    scale: 1.25;
    cursor: pointer;
    z-index: 1;
  }