header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header {
    top: 0;
    position: fixed;
    background-color: var(--container-color);
    color: var(--font-color);
    padding: 0 15px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 75px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a,
.menu-icon {
    text-transform: uppercase;
    color: var(--input-color);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease;
}

nav a:hover,
.menu-icon:hover {
    background-color: var(--hovered-background);
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 75px;
    }

    header>section {
        padding: 15px;
        width: 100%;
        height: 100%;
    }


    @media only screen and (max-width: 300px) {
        header h1 {
            text-align: left;
            font-size: medium;
        }
    }
    

    .menu-icon {
        display: block;
        cursor: pointer;
        user-select: none;
    }

    header h1 {
        text-align: left;
    }

    nav {
        position: fixed;
        top: 70px;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #111;
    }

    nav a {
        width: 100%;
    }

    input:checked + nav {
        display: flex;
    }
}
