.hoobies-content>main {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.hoobies-content>main  * {
    margin-bottom: 5px;
}

.hoobies-content>main>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 15px;
}

.hoobies-content>main>div .img{
    aspect-ratio: 4/3;
    background-position: center;
    
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 5px;
}