.project-container {
    width: 100%;
}

.project-container>main {
    width: 100%;
}


.project {
    position: relative;
    padding: 15px;
    margin: 15px;
    border: var(--border-section); 
    border-radius: 5px;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 19, 4, 0.6); /* Couleur de superposition sombre (noir à 50% d'opacité) */
    background-image: linear-gradient(rgba(67, 67, 67, 0.6), rgba(0, 0, 0, 0.6));
}

.project * {
    filter: brightness(100%);
    margin-bottom: 5px;
}

.project ul {
    margin-left: 20px;
    list-style: "➤ ";
}

.project h1 {
    font-size: 30px;
}
.project h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.project a {
    color: greenyellow;
    transition: .5s;
}

.project a:hover {
    color: green;
    text-decoration: underline;
}

.project h2:first-child {
    margin-top: 0px;
}

.project p, .project li {
    font-size: 15px;
}

